<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Framebuffer (Haswell)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelFramebufferAzul</string>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>AllowAtomicCSCUpdates</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>EnableConnectionState</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>FBC</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>IsC8Permitted</key>
				<integer>0</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>UseInterruptFilter</key>
				<integer>1</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>enable8kmode</key>
				<integer>1</integer>
				<key>lp3enable</key>
				<integer>1</integer>
				<key>noapertureaccess</key>
				<integer>0</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelAzulController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x0A028086 0x0A068086 0x0A0A8086 0x0A0B8086 0x0A0E8086 0x04028086 0x04068086 0x040A8086 </string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>RCxControl</key>
			<dict>
				<key>RC1_Threshold</key>
				<integer>260</integer>
				<key>RC6_Threshold</key>
				<integer>520</integer>
				<key>RC6p_Threshold</key>
				<integer>1300</integer>
				<key>RC_Eval_Interval</key>
				<integer>26000</integer>
			</dict>
		</dict>
		<key>Framebuffer (Gen 8)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>AllowAtomicCSCUpdates</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableAutomaticIPS</key>
				<integer>1</integer>
				<key>DisableFeatureIPS</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDEUnderrunPanic</key>
				<integer>0</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FBCEnableOnBypass</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>HPDMetricEnable</key>
				<integer>0</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>LoadRingOverridePerSlice</key>
				<integer>1</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>0</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>UseGPUBusy</key>
				<integer>0</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>lp3waenable</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFBController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x22B08086 0x22B18086 0x22B28086 0x22B38086</string>
			<key>IOProbeScore</key>
			<integer>80001</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>RCxControl</key>
			<dict>
				<key>RC1_Threshold</key>
				<integer>260</integer>
				<key>RC6p_Threshold</key>
				<integer>1300</integer>
				<key>RC_Eval_Interval</key>
				<integer>26000</integer>
			</dict>
		</dict>
		<key>Framebuffer (Gen 9)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>DEFAULT</key>
					<integer>1</integer>
					<key>IGFBDISPLAY</key>
					<integer>31</integer>
					<key>IGLINKTRAIN</key>
					<integer>31</integer>
					<key>IGTRANSACTION</key>
					<integer>0</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
					<key>SysLog</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>EdramSWModeInED</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FBC</key>
				<integer>0</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>GammaTestMode</key>
				<integer>0</integer>
				<key>HPDMetricEnable</key>
				<integer>0</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>NV12Enable</key>
				<integer>0</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>ResourceSetSupport</key>
				<integer>1</integer>
				<key>RotationSupportForMultiLink</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x0A848086 0x1A848086 0x1A868086 0x5A848086 0x5A858086</string>
			<key>IOProbeScore</key>
			<integer>80005</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Framebuffer (CFL)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelCFLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>AUX</key>
					<integer>7</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>EdramSWModeInED</key>
				<integer>1</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>GammaTestMode</key>
				<integer>0</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>ResourceSetSupport</key>
				<integer>1</integer>
				<key>RotationSupportForMultiLink</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>1</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x31848086 0x31858086</string>
			<key>IOProbeScore</key>
			<integer>80005</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.ChefKissInc.NootedBlue</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>Drivers</key>
			<array>
				<dict>
					<key>CFBundleIdentifier</key>
					<string>com.apple.driver.AppleIntelHD5000Graphics</string>
					<key>CompactVRAM</key>
					<integer>1</integer>
					<key>EnableBlitLib</key>
					<integer>1</integer>
					<key>ForceDisableEDRAM</key>
					<integer>0</integer>
					<key>IOAccelDisplayPipeCapabilities</key>
					<dict>
						<key>DisplayPipeSupported</key>
						<true/>
						<key>TransactionsSupported</key>
						<true/>
					</dict>
					<key>IOCFPlugInTypes</key>
					<dict>
						<key>ACCF0000-0000-0000-0000-000a2789904e</key>
						<string>IOAccelerator2D.plugin</string>
					</dict>
					<key>IOClass</key>
					<string>IntelAccelerator</string>
					<key>IODVDBundleName</key>
					<string>AppleIntelHD5000GraphicsVADriver</string>
					<key>IOGLBundleName</key>
					<string>AppleIntelHD5000GraphicsGLDriver</string>
					<key>IOGVABGRAEnc</key>
					<string>Gen75</string>
					<key>IOGVACodec</key>
					<string>Gen75</string>
					<key>IOGVAH264EncodeCapabilities</key>
					<dict>
						<key>VTQualityRating</key>
						<integer>50</integer>
						<key>VTRating</key>
						<integer>400</integer>
					</dict>
					<key>IOGVAScaler</key>
					<string>Gen75</string>
					<key>IOMatchCategory</key>
					<string>IOAccelerator</string>
					<key>IOPCIClassMatch</key>
					<string>0x03000000&amp;0xff000000</string>
					<key>IOPCIPrimaryMatch</key>
					<string>0x0A028086 0x0A068086 0x0A0A8086 0x0A0B8086 0x0A0E8086 0x04028086 0x04068086 0x040A8086 </string>
					<key>IOProbeScore</key>
					<integer>1000</integer>
					<key>IOProviderClass</key>
					<string>IOPCIDevice</string>
					<key>IOSourceVersion</key>
					<string>0.0.0.0.0</string>
					<key>IOVARendererID</key>
					<integer>17301508</integer>
					<key>MetalCoalesce</key>
					<integer>1</integer>
					<key>MetalPluginName</key>
					<string>AppleIntelHD5000GraphicsMTLDriver</string>
					<key>PanicOnGPUHang</key>
					<integer>0</integer>
					<key>TelemetryDisable</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOMatchCategory</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2023 ChefKiss Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.6.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
